services:
  app:
    build:
      context: ./php
      dockerfile: Dockerfile
    container_name: the21st_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ../app:/var/www
    depends_on:
      - db
    networks:
      - laravel_network
    extra_hosts:
      - "host.docker.internal:host-gateway"  # WSL2でホストマシンに接続するための設定

  web:
    image: nginx:latest
    container_name: the21st_nginx
    restart: unless-stopped
    ports:
      - "8088:80"   # 他環境と重複を避けるため変更している
    volumes:
      - ../app:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel_network

  db:
    image: mysql:8
    container_name: the21st_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: rootpassword
    ports:
      - "3306:3306"   # 他環境と重複を避けるため変更している
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - laravel_network

networks:
  laravel_network:

volumes:
  db_data:
